@font-face {
font-family: 'Mark Pro Bold';
font-style: bold;
font-weight: 700;
src: url('https://github.com/notrickjohnston/mark-pro/raw/394c5a3b6be73239086e11fbc90832a0a8f2268c/FontFont%20-%20Mark%20Pro%20Bold.woff2') format('woff2');
}

@font-face {
font-family: 'Mark Pro Medium';
font-style: medium;
font-weight: 500;
src: url('https://github.com/notrickjohnston/mark-pro/raw/394c5a3b6be73239086e11fbc90832a0a8f2268c/FontFont%20-%20Mark%20Pro%20Medium.woff2') format('woff2');
}

@font-face {
font-family: 'Mark Pro Normal';
font-style: normal;
font-weight: 400;
src: url('https://github.com/notrickjohnston/mark-pro/raw/394c5a3b6be73239086e11fbc90832a0a8f2268c/FontFont%20-%20Mark%20Pro.woff2') format('woff2');
}